<!DOCTYPE html>
<html>
  <head>
    <title>test.ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Value: <%= testValue %></h1>

    test.ejs를 GET으로 호출

    <br/><br/><br/>

    <form action="" method="post">
       <div> - 경로 : <input type="text" name="postPath" placeholder="POST할 경로"> </div><br/>
       <div> - 입력1 : <input type="text" name="input1" placeholder="아무말"> </div><br/>
       <div> - 입력2 : <input type="text" name="input2" placeholder="대잔치"> </div><br/>
    </form>

    <button class="sendbtn">전송</button>

    <div class="result"></div>


<!-- =========================================================================== -->
<!-- =========================================================================== -->

    <script>
        document.querySelector('.sendbtn').addEventListener('click', function(e) {

          var postPath = document.getElementsByName('postPath')[0].value;
          var input1 = document.getElementsByName('input1')[0].value;
          var input2 = document.getElementsByName('input2')[0].value;
          sendAjax(postPath, {'input1':input1, 'input2':input2});
        })


        function sendAjax(url, data){

          data = JSON.stringify(data);
          var xhr = new XMLHttpRequest();
          xhr.open('POST', url);
          xhr.setRequestHeader('content-type', "application/json");
          xhr.send(data);

          console.log("보냄(sendAjax): " + data);


          // 데이터 수신이 완료되면 표시
          xhr.addEventListener('load', function(){

            var result = JSON.parse(xhr.responseText);
            var resultDiv = document.querySelector('.result');

            console.log("받음(addEventListener): " + result.output1 + ", " + result.output2);
            resultDiv.innerHTML = result.out1;
          });
        }
    </script>

  </body>
</html>
